<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="server" style="width:200px;">
        <form action="api/addserver" method="post">
            <div class="form-control mb-3 mt-3">
                <label for="servertype" class="form-label mb-3">Server Type</label>
                <select class="form-select" id="servertype">
                    <option>socks</option>
                    <option>shadowsocks</option>
                    <option>vless</option>
                    <option>vmess</option>
                    <option>http</option>
                </select>
            </div>

            <div class="form-floating mb-3">
                <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                <label for="floatingInput">Email address</label>
            </div>
            <div class="form-floating mb-3">
                <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
                <label for="floatingPassword">Password</label>
            </div>
            <br>
            <input type="submit" style="width:160px;vertical-align:middel;" value="Submit" class="btn btn-primary">
        </form>
</body>
</html>